@{
    ViewBag.Title = "Backend";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var applicationUserId = Guid.Parse("14c1aeac-e911-4837-8fca-5b3264c819e9");
    var groupId = Guid.Parse("B7D4E718-A900-4A19-8543-D5E28F57F431");
}
<br />
<div class="row">
    <div class="col-md-4">
        <select name="mandant" class="form-control">
            <option value="B7D4E718-A900-4A19-8543-D5E28F57F431">Mandant1</option>
            <option value="B7D4E718-A900-4A19-8543-D5E28F57F432">Mandant2</option>
        </select>
    </div>
    <div class="col-md-4">
        <select name="agent" class="form-control">
            <option value="14c1aeac-e911-4837-8fca-5b3264c819e1">Agent1</option>
            <option value="14c1aeac-e911-4837-8fca-5b3264c819e2">Agent2</option>
        </select>
    </div>
    <div class="col-md-4">
    </div>
</div>

<h2>Backend:@applicationUserId.ToString()</h2>
<div class="row">
    <div class="col-md-4">
        <div class="requests">
            Requests:<br />
        </div>
    </div>
    <div class="col-md-4">
        <div class="channels">
            chatChannels:<br />
        </div>
        <div class="applicationUsers">
            users:<br />
        </div>

        <div class="ping">
            Ping:<br />

        </div>
    </div>
    <div class="col-md-4">
        <p>
            <div class="chatMessages">

            </div>
        </p>
        <p>
            <input type="text" name="message" id="message" class="form-control" />
            <br />
            <a class="btn btn-default form-control" onclick="setMessageCall()">send</a>
        </p>
    </div>
</div>

@section scripts{

    <script src="~/ViewsScripts/CommandQL.js"></script>
    <script>
        var applicationUserId = "@applicationUserId.ToString()";
        var serverpath = window.location.origin + "/api/commandQL/";
        var liveChatChannel = null;
        var name = null;
        var currentMessages = [];

        var cmdQL = new BROCKHAUSAG.CommandQL({
            handler: window,
            serverpath: serverpath,
            sender: "backend"
        });


        $(function () {
            cmdQL.subscribe("getApplicationUsers", [{ 'groupId': '@groupId.ToString()' }],
                function (data) {
                    if (!data)
                        return;
                    var html = "";
                    $.each(data.applicationUsers, function (index, element) {
                        html += element.userName + '<br/>';
                    });
                    $(".applicationUsers").html(html);
                });

            cmdQL.subscribe("ping", []);
            cmdQL.subscribe("getLiveChatRequests", [{ "groupId": "@groupId.ToString()" }],
                function (data) {
                    if (!data)
                        return;
                    var html = "";
                    $.each(data.liveChatRequests, function (index, element) {
                        html += '<a onclick="callSetChatSession(\'' + element.id + '\');return false;">' + element.userName + ' - accept</a><br/>';
                    });
                    $(".requests").html(html);
                });

            cmdQL.subscribe("getLiveChatChannels", [{ "applicationUserId": applicationUserId }],
                function (data) {
                    if (!data)
                        return;
                    var html = "";
                    $.each(data.liveChatChannels, function (index, element) {
                        html += element.name + '<br/>';
                    });
                    $(".chatSessions").html(html);
                });


            
            cmdQL.connect();
            cmdQL.poll();
        });


        function callSetChatSession(id) {
            cmdQL.invoke("setLiveChatChannel",
                [{ "liveChatRequestId": id, "applicationUserId": applicationUserId }],
                function (data) {
                    if (!data)
                        return;
                    liveChatChannel = data.liveChatChannel;
                    $(".setChatSession").html(JSON.stringify(data.liveChatChannel) + "<br/>");


                    cmdQL.subscribe("getLiveChatMessages", [{ "liveChatChannelId": data.liveChatChannel.id }],
                function (data) {
                    if (!data)
                        return;
                    var html = "";
                    $.each(data.liveChatMessages, function (index, on_element) {
                        var contains = false;
                        $.each(currentMessages, function (index, off_element) {
                            if (off_element.id == on_element.id) {
                                contains = true;
                                off_element.status = on_element.status;
                            }
                        });
                        if (!contains) {
                            currentMessages.push(on_element);
                            html += on_element.message + '<br/>';
                        }
                    });
                    if (html) {
                        $(".chatMessages").append(html);
                    }        
                });

                });
        }
        function setMessageCall() {
            var message = $("#message").val();
            $("#message").val("");

            cmdQL.invoke("setLiveChatMessage", [{
                "id": cmdQL.newGuid(),
                "applicationUserId": applicationUserId,
                "liveChatChannelId": liveChatChannel.id,
                "message": message,
                "name": name
            }]);

            $(".chatMessages").append("me: " + message + "<br/>");
        }


        function getChatMessages(data) {
            if (!data)
                return;
            var html = "";
            $.each(data.chatMessages, function (index, on_element) {
                var contains = false;
                $.each(currentMessages, function (index, off_element) {
                    if (off_element.id == on_element.id) {
                        contains = true;
                        off_element.status = on_element.status;
                    }
                });
                if (!contains) {
                    currentMessages.push(on_element);
                    html += on_element.message + '<br/>';
                }
            });
            if (html) {
                $(".chatMessages").append(html);
            }
        }



        function ping(data) {
            $(".ping").append(data + "<br/>");
        }

        

    </script>

    <script>
        var active = true;

        window.onblur = function (e) {
            active = false;
            setTimeout(function () {
                if (!active) {
                    $("title").html("Where are you?");


                    animate = true;
                    animateTitle();
                }
            }, 0 * 1000);
        };

        window.onfocus = function (e) {
            active = true;

            animate = false;

            $("title").html("BROCKHAUS AG");

        };

        var title = "Where are you?  ";
        var animate = true;
        var animateTitle = function () {
            if (animate) {
                title = title.substring(1, title.length) + title.substring(0, 1);
                document.title = title;
                setTimeout("animateTitle()", 1000 / 10);
            }
        };
    </script>
}