@{
    ViewBag.Title = "Backend";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var applicationUserId = Guid.Parse("14c1aeac-e911-4837-8fca-5b3264c819e9");
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
<h2>Backend:@applicationUserId.ToString()</h2>
<div class="row">
    <div class="col-md-4">
        <div class="chatRequests">
            Requests:<br />
        </div>
    </div>
    <div class="col-md-4">
        <div class="chatSessions">
            ChatSessions:<br />
        </div>

        <div class="ping">
            Ping:<br />

        </div>
    </div>
    <div class="col-md-4">
        <p>
            <div class="messages">

            </div>
        </p>
        <p>
            <input type="text" name="message" id="message" class="form-control"/>
            <br />
            <a class="btn btn-default form-control" onclick="setMessageCall()">send</a>
        </p>
    </div>
</div>

@section scripts{

    <script src="~/ViewsScripts/CommandQL.js"></script>
    <script>
        var applicationUserId = "@applicationUserId.ToString()";
        var serverpath = window.location.origin + "/api/commandQL/";
        var chatSession = null;
        var name = null;


        var cmdQL = new BAG.CommandQL({
            handler: window,
            serverpath: serverpath,
            sender: "backend"
        });


        $(function () {
            cmdQL.subscribe("GetAllConsultants", [{ 'mandant': 'name' }]);
            cmdQL.subscribe("Ping", []);
            cmdQL.subscribe("GetChatRequests", [{ "applicationUserId": applicationUserId }]);
            cmdQL.subscribe("GetChatSessions", [{ "applicationUserId": applicationUserId }]);
            cmdQL.subscribe("GetChatMessages", [{ "applicationUserId": applicationUserId }]);
            cmdQL.connect();
            cmdQL.poll();
        });

        function setMessageCall() {
            var message = $("#message").val();
            $("#message").val("");

            cmdQL.invoke("setChatMessage", [{
                "chatSessionId": chatSession.id,
                "message": message,
                "name": name
            }]);

            $(".messages").append("me" + message + "<br/>");
        }

        function callSetChatSession(id) {
            cmdQL.invoke("setChatSession", [{ "chatRequestId": id, "applicationUserId": applicationUserId }]);
        }
        function callSetChatMessage(msg) {
            cmdQL.invoke("setChatMessage", [{ "id": id }]);
        }
        function setChatSession(data) {
            if (!data)
                return;
            chatSession = data.chatSession;
            $(".setChatSession").html(JSON.stringify(data.chatSession) + "<br/>");
        }
        function GetChatSessions(data) {
            if (!data)
                return;
            var html = "";
            $.each(data.chatSessions, function (index, element) {
                html += element.name + '<br/>';
            });
            $(".chatSessions").html(html);
            console.log(data);
        }
        function GetChatMessages(data) {
            if (!data)
                return;
            var html = "";
            $.each(data.chatMessages, function (index, element) {
                html += element.mesage + '<br/><br/>';
            });
            $(".chatMessages").html(html);
            console.log(data);
        }
        function GetChatRequests(data) {
            if (!data)
                return;
            var html = "";
            $.each(data.requests, function (index, element) {
                html += '<a onclick="callSetChatSession(\'' + element.id + '\');return false;">' + element.name + ' - accept</a><br/>';
            });
            $(".chatRequests").html(html);
            console.log(data);
        }


        function Ping(data) {
            $(".ping").append(data + "<br/>");
            console.log(data);
        }


    </script>

    <script>
        var active = true;

        window.onblur = function (e) {
            active = false;
            setTimeout(function () {
                if (!active) {
                    $("title").html("Where are you?");


                    animate = true;
                    animateTitle();
                }
            }, 0 * 1000);
        };

        window.onfocus = function (e) {
            active = true;

            animate = false;

            $("title").html("BROCKHAUS AG");

        };

        var title = "Where are you?  ";
        var animate = true;
        var animateTitle = function () {
            if (animate) {
                title = title.substring(1, title.length) + title.substring(0, 1);
                document.title = title;
                setTimeout("animateTitle()", 1000 / 10);
            }
        };
    </script>
}