<div class="jumbotron">
    <h3>CommandQL by BROCKHAUS AG</h3>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>ChatRequest</h2>
        <p>
            <input type="text" name="name" id="name" />
        </p>
        <p>
            <a class="btn btn-default" onclick="setRequestCall()">Start</a>
            <br /><br /><br />
            <img src="~/Content/Images/squares.gif" style="display:none;" class="load" />
            <span class="getChatSession"></span>
        </p>
    </div>
    <div class="col-md-4">


    </div>
    <div class="col-md-4">

    </div>
</div>
@section scripts{
    <script src="~/ViewsScripts/CommandQL.js"></script>
    <script>
        var serverpath = window.location.origin + "/api/commandQL/";
        var cmdQL = new BAG.CommandQL(window, serverpath);

        function setRequestCall() {
            var name = $("#name").val();
            $("#name").val("");
            var category = "cat";
            var question = "q";
            var agent = navigator.userAgent;
            var sender = "sender";
            var parameter = "";
            var mandant = "";
            var group = "";
            $(".load").show();
            cmdQL.invoke("setChatRequest", [{
                "mandant": mandant,
                "name": name,
                "category": category,
                "question": question
            }]);

        }


        function setChatRequest(data) {
            if (!data)
                return;
            console.log(data);
            cmdQL.connect();
            cmdQL.subscribe("getChatSession", [{ "id": data.id }]);
            cmdQL.poll();
        }

        function getChatSession(data) {
            if (!data)
                return;
            $(".load").hide();
            $(".getChatSession").html(JSON.stringify(data.chatSession) + "<br/>");
            cmdQL.unsubscribe("getChatSession");
        }

        function getRequests(data) {
            console.log(data);
        }

        function ping(data) {
            console.log(data);
            $(".ping").append(data + "<br/>");
        }


    </script>

}