@{
    var groupId = Guid.Parse("B7D4E718-A900-4A19-8543-D5E28F57F431");
}
<br />
<div class="row">
    <div class="col-md-4">
        <select name="group" class="form-control" id="group">
            <option value="B7D4E718-A900-4A19-8543-D5E28F57F431" selected>group1</option>
            <option value="B7D4E718-A900-4A19-8543-D5E28F57F432">group2</option>
        </select>
    </div>
    <div class="col-md-4">
        <select name="user" class="form-control" id="user">
            <option value="User1">User1</option>
            <option value="User2">User2</option>
        </select>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ChatRequest</h2>
        <p>
            <input type="text" name="name" id="name" />
        </p>
        <p>
            <a class="btn btn-default" onclick="setRequestCall()">start</a>
            <br /><br /><br />
            <img src="~/Content/Images/squares.gif" style="display:none;" class="load" />
            <span class="getChatSession"></span>
        </p>
    </div>
    <div class="col-md-4">


    </div>
    <div class="col-md-4">
        <p>
            <div class="chatMessages" style="display:block;height:200px;overflow-x:auto">

            </div>
        </p>
        <p>
            <input type="text" name="message" id="message" class="form-control" />
            <br />
            <a class="btn btn-default form-control" onclick="setMessageCall()">send</a>
        </p>
    </div>
</div>
@section scripts{
    <script src="~/commandQLScript/CommandQL.js"></script>
    <script src="~/commandQLScript/AppFrontendQL.js"></script>
    <script>
        var serverpath = window.location.origin + "/api/commandQL/";

        var app = new BROCKHAUSAG.AppFrontendQL({
            handler: window,
            serverpath: serverpath,
            sender: "frontend"
        });

        app.init($("#group").val());

        function setRequestCall() {
            var name = $("#name").val();
            $("#name").val("");
            var category = "";
            $(".load").show();
            app.createRequest(name, category);
        }
        
        function setMessageCall() {
            var messageText = $("#message").val();
            $("#message").val("");

            app.send(messageText);
        }


        ////var liveChatChannel = null;
        ////var name = null;
        ////var currentMessages = [];
        
        ////var cmdQL = new BAG.CommandQL({
        ////    handler: window,
        ////    serverpath: serverpath,
        ////    sender: "frontend"
        ////});

        ////function setRequestCall() {
        ////    name = $("#name").val();
        ////    $("#name").val("");
        ////    var userAgent = navigator.userAgent;
        ////    var sender = "sender";
        ////    var parameter = "";
        ////    $(".load").show();
        ////    cmdQL.invoke("setLiveChatRequest", [{
        ////        "scope": "group",
        ////        "referenceId": $("#mandant").val(),
        ////        "userName": name,
        ////        "userAgent": userAgent,
        ////        "category": "allgemein",
        ////        "question": "my question"
        ////    }],
        ////    function (data) {
        ////        if (!data)
        ////            return;
        ////        console.log(data);
        ////        cmdQL.connect();
        ////        cmdQL.subscribe("getLiveChatChannel", [{ "liveChatRequestId": data.id }],
        ////            function (data) {
        ////                if (!data)
        ////                    return;
        ////                liveChatChannel = data.liveChatChannel;
        ////                $(".load").hide();
        ////                $(".getChatSession").html(JSON.stringify(liveChatChannel) + "<br/>");
        ////                cmdQL.unsubscribe("getLiveChatChannel");
        ////                cmdQL.subscribe("getLiveChatMessages", [{ "liveChatMessageId": liveChatChannel.id }],
        ////                    function (data) {
        ////                        if (!data)
        ////                            return;
        ////                        var html = "";
        ////                        $.each(data.liveChatMessages, function (index, on_element) {
        ////                            var contains = false;
        ////                            $.each(currentMessages, function (index, off_element) {
        ////                                if (off_element.id == on_element.id) {
        ////                                    contains = true;
        ////                                    off_element.status = on_element.status;
        ////                                }
        ////                            });
        ////                            if (!contains) {
        ////                                currentMessages.push(on_element);
        ////                                html += on_element.message + '<br/>';
        ////                            }
        ////                        });
        ////                        if (html) {
        ////                            $(".chatMessages").append(html);
        ////                        }
        ////                        console.log(data);
        ////                    });
        ////            });
        ////        cmdQL.poll();
        ////    });

        ////}

        ////function setMessageCall() {
        ////    var message = $("#message").val();
        ////    $("#message").val("");

        ////    cmdQL.invoke("setLiveChatMessage", [{
        ////        "id": cmdQL.newGuid(),
        ////        "liveChatChannelId": liveChatChannel.id,
        ////        "message": message,
        ////        "name": name
        ////    }]);

        ////    $(".chatMessages").append("me: " + message + "<br/>");
        ////}


        ////function ping(data) {
        ////    console.log(data);
        ////    $(".ping").append(data + "<br/>");
        ////}

    </script>
}
