<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Request</h2>
        <p>
            <input type="text" name="name" id="name" />
        </p>
        <p>
            <a class="btn btn-default" onclick="setRequestCall()">Start</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
@section scripts{
    <script>
        var serverpath = window.location.origin + "/api/commandQL/";

        $(function () {


            var data = {
                "commands": [
                  {
                      "name": "GetAllConsultants",
                      "parameters": [{ 'mandant': 'name' }],
                      "return": null
                  }
                  ,
                  {
                      "name": "Ping",
                      "parameters": [{ 'mandant': 'name' }],
                      "return": null
                  }
                  ,
                  {
                      "name": "GetRequests",
                      "parameters": [],
                      "return": null
                  }
                ]
            };


            //////(function poll() {
            ////$.ajax({
            ////    url: serverpath,
            ////    type: 'POST',
            ////    dataType: "json",
            ////    data: data,
            ////    complete: setTimeout(function () { poll() }, 10000),
            ////    timeout: 30000,
            ////    success: function (data) {
            ////        //Update your dashboard gauge
            ////        console.debug(data);

            ////        $.each(data.commands, function (index, cmd) {

            ////            var fn = window[cmd.name];
            ////            if (typeof fn === 'function') {
            ////                fn(cmd.return);
            ////            }

            ////        });
            ////    },
            ////    error: function (xhr, textStatus, errorThrown) {
            ////        console.log(textStatus);
            ////    }
            ////});
            //////})();




        });

        function setRequestCall() {

            var name = $("#name").val();
            var category = "cat";
            var question = "q";
            var agent = navigator.userAgent;
            var sender = "sender";
            var parameter = "";
            var mandant = "";
            var group = "";

            var data = {
                "sender": "frontend",
                "commands": [
                  {
                      "name": "setRequest",
                      "parameters": [{
                              //"mandant": mandant,
                              "name": name,
                              "category": category,
                              "question": question
                          }],
                      "return": null
                  }
                ]
            };

            call(data);
        }

        function call(data) {
            $.ajax({
                url: serverpath,
                type: 'POST',
                dataType: "json",
                data: data,
                //complete: setTimeout(function () { poll() }, 10000),
                timeout: 30000,
                success: function (data) {
                    //Update your dashboard gauge
                    console.debug(data);

                    $.each(data.commands, function (index, cmd) {

                        var fn = window[cmd.name];
                        if (typeof fn === 'function') {
                            console.debug("call " + cmd.name + " (" + cmd.return + ")");
                            fn(cmd.return);
                        }

                    });

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
        }

        function setRequest(data) {
            console.log(data);
        }

        function getRequests(data) {
            console.log(data);
        }


        function ping(data) {
            console.log(data);
            $(".ping").append(data + "<br/>");
        }


    </script>
    </script>
}