<br />
<div class="row">
    <div class="col-md-4">
        <select name="mandant" class="form-control">
            <option value="B7D4E718-A900-4A19-8543-D5E28F57F431">Mandant1</option>
            <option value="B7D4E718-A900-4A19-8543-D5E28F57F432">Mandant2</option>
        </select>
    </div>
    <div class="col-md-4">
        <select name="user" class="form-control">
            <option value="User1">User1</option>
            <option value="User2">User2</option>
        </select>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ChatRequest</h2>
        <p>
            <input type="text" name="name" id="name" />
        </p>
        <p>
            <a class="btn btn-default" onclick="setRequestCall()">start</a>
            <br /><br /><br />
            <img src="~/Content/Images/squares.gif" style="display:none;" class="load" />
            <span class="getChatSession"></span>
        </p>
    </div>
    <div class="col-md-4">


    </div>
    <div class="col-md-4">
        <p>
            <div class="chatMessages" style="display:block;height:200px;overflow-x:auto">

            </div>
        </p>
        <p>
            <input type="text" name="message" id="message" class="form-control" />
            <br />
            <a class="btn btn-default form-control" onclick="setMessageCall()">send</a>
        </p>
    </div>
</div>
@section scripts{
    <script src="~/ViewsScripts/CommandQL.js"></script>
    <script>
        var serverpath = window.location.origin + "/api/commandQL/";
        var chatSession = null;
        var name = null;
        var cmdQL = new BAG.CommandQL({
            handler: window,
            serverpath: serverpath,
            sender: "frontend"
        });

        function setRequestCall() {
            name = $("#name").val();
            $("#name").val("");
            var category = "cat";
            var question = "q";
            var agent = navigator.userAgent;
            var sender = "sender";
            var parameter = "";
            var mandant = "";
            var group = "";
            $(".load").show();
            cmdQL.invoke("setChatRequest", [{
                "mandant": mandant,
                "name": name,
                "category": category,
                "question": question
            }],
            function (data) {
                if (!data)
                    return;
                console.log(data);
                cmdQL.connect();
                cmdQL.subscribe("getChatSession", [{ "id": data.id }]);
                cmdQL.poll();
            });

        }

        function setMessageCall() {
            var message = $("#message").val();
            $("#message").val("");

            cmdQL.invoke("setChatMessage", [{
                "chatSessionId": chatSession.id,
                "message": message,
                "name": name
            }]);

            $(".chatMessages").append("me: " + message + "<br/>");
        }

        function getChatSession(data) {
            if (!data)
                return;
            chatSession = data.chatSession;
            $(".load").hide();
            $(".getChatSession").html(JSON.stringify(data.chatSession) + "<br/>");
            cmdQL.unsubscribe("getChatSession");
            cmdQL.subscribe("getChatMessages", [{ "chatMessageId": chatSession.id }]);
        }

        function getChatMessages(data) {
            if (!data)
                return;
            var html = "";
            $.each(data.chatMessages, function (index, element) {
                html += element.mesage + '<br/><br/>';
            });
            $(".chatMessages").append(html);
            console.log(data);
        }

        function getRequests(data) {
            console.log(data);
        }

        function ping(data) {
            console.log(data);
            $(".ping").append(data + "<br/>");
        }

    </script>
}
